.container{display: flex;
    justify-content: center;
    align-items: center;
    background:seagreen;
    border: 4px solid navy;
    width: 400px;
    height: 300px;
}


.box{
   
    background: lightgoldenrodyellow;
    text-align: center;
    font-weight: bold;
    border:4px solid navy;
    width:80px;
    height:80px;

}