.container{
background-color: rgb(207, 202, 202);
    height: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
}

.modal{
    border-radius: 15px;
    background: white;
   height: 250px;
    width: 550px;
    border: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-left:5px;

}

.header{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-right: 25px;
    
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    font-family: serif;
    margin-left: 40px;
}

.exclamation,.x{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 202, 202);
    color: rgb(22, 107, 236);
   font-size: large;
   font-weight: bolder;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.x{
    color: rgb(78, 77, 77);
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.bottom{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 10px;
    gap:5px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.continue{
    background: rgb(64, 64, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height:30px;
    border-radius: 5px;
}

.cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25px solid darkgray;
    width: 80px;
    height:30px;
    border-radius: 5px;

}