.container{
    display: flex;
    align-items:  center;
    justify-content: center;
    background: peachpuff;
    border:10px solid #ffffff;
    height: 50px;
    width:1000px;
    gap: 80px;

}
.one,.two,.three,.four,.five,.six,.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    text-align: center;
    margin:5px ;
}

.one,.two,.three,.four,.five,.six{
    color:purple;
    size:15px;
    height: 25px;
    width: 60px;
    
}

.logo{
    color: #ff7214;
    font-weight:700;
    size: 30px;
    height: 35px;
    width: 80px;
}